@import "../../definitions";

.button {
  @extend .btn;
  @extend .btn-success;

  border-color: $color-green;
  background-color: $color-green;
}

.button_mobile-block {
  @include media-only-mobile {
    display: block;
    width: 100%;
  }
}

.button_outline {
  @extend .btn-outline-success;

  color: $color-green;
  background-color: white;
  border-color: $color-green;
}

.button_outline-red {
  @extend .btn-outline-danger;

  color: $color-red;
  background-color: white;
  border-color: $color-red;
}