@import "../../definitions";

.text {

}

.text_bold {
  font-weight: bold;
}

.text_underlined {
  text-decoration: underline
}

.text_through {
  text-decoration: line-through
}

.text_upper {
  text-transform: uppercase;
}

.text_gray {
  color: $color-secondary;
}

.text_green {
  color: $color-green;
}

.text_xs {
  font-size: $xs-font-size;
}

.text_sm {
  font-size: $sm-font-size;
}

.text_md {
  font-size: $md-font-size;
}

.text_lg {
  font-size: $lg-font-size;
}

.text_xl {
  font-size: $xl-font-size;
}